body {
	background-color: #ccddee
}

.password {
	font-size: 2em;
}

.navbar-default{
	background-color: #ddcccc;
}

.jumbotron{
	text-align: center;
	color: white;
	text-shadow: .2em .2em black;
	background-image: url("../assets/DSC_0059crop1.jpg");
}

.col-md-12{
	background-color: white;
}
